@charset "UTF-8";

#header_menu {
	margin: 0px;
}

#header_menu>li {
	display: inline-block;
	list-style: none;
	
	margin-right: 50px;
}

#header_menu>li>a {
	text-decoration: none;
}

#main_menu {
	list-style: none;
}

#main_menu>li {
	display: inline-block;
	margin-top: 80px;
	margin-left: 15px;
	margin-right: 40px;
	font-size: 35px;
	text-align: center;
	list-style-type: none;
}

#main_menu>li>a {
	text-decoration: none;
}